<div class="features">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="~/images/bus.png" alt="bus">
                <div class="card-body">
                    <h5 class="card-title">Lorem ipsum dolor</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget turpis vitae
                        lectus pellentesque
                        convallis vitae.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="~/images/ticket.png" alt="ticket">
                <div class="card-body">
                    <h5 class="card-title">Proin sed ipsum</h5>
                    <p class="card-text">Proin sed ipsum non urna egestas euismod. Nam commodo vitae purus sed pharetra.
                        Morbi
                        porta, urna
                        eleifend interdum.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="~/images/refund.png" alt="refund">
                <div class="card-body">
                    <h5 class="card-title">Donec sed metus</h5>
                    <p class="card-text">Donec sed metus ultricies, ullamcorper ante a, maximus risus. Cras ipsum
                        lectus,
                        egestas in turpis
                        cursus, vestibulum aliquet lectus.</p>
                </div>
            </div>
        </div>
    </div>

</div>