<div class="owl-carousel owl-theme">
    <div class="carousel">
        <h3>Lorem ipsum dolor</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget turpis vitae
            lectus pellentesque
            convallis vitae nec nisi. Aenean sollicitudin suscipit ex ac sodales. Praesent a massa eget
            velit
            pretium scelerisque sed nec purus. Proin velit eros, lacinia eget nibh rutrum, imperdiet
            sollicitudin diam.</p>
    </div>
    <div class="carousel">
        <h3>Proin sed ipsum non</h3>
        <p>Proin sed ipsum non urna egestas euismod. Nam commodo vitae purus sed pharetra.
            Morbi porta, urna
            eleifend interdum lobortis, sem turpis commodo nisi, eu bibendum felis sapien vitae magna.
            Aliquam
            eleifend nunc a tincidunt sodales. Duis sed volutpat neque. Duis mollis odio urna. </p>
    </div>
    <div class="carousel">
        <h3>Donec sed metus ultricies</h3>
        <p>Donec sed metus ultricies, ullamcorper ante a, maximus risus. Cras ipsum
            lectus, egestas in turpis
            cursus, vestibulum aliquet lectus. Morbi id condimentum urna. Aliquam sit amet rutrum quam.
            Donec ac
            suscipit ipsum. Aenean faucibus ante ac lectus consequat bibendum. Donec porttitor.</p>
    </div>
</div>