@model Business.Journey.Dto.Param.LocationForJourney

<form asp-controller="Journey" asp-action="Index" method="post">
    <div class="form-item-combined">
        <div class="form-item">
            <svg class="form-item-icon" width="30" height="30">
                <use xlink:href="/icons/sprite.svg#from" />
            </svg>
            <div class="form-group">
                <label asp-for="OriginId">Nereden</label>
                <select asp-for="OriginId" class="selectpicker form-control city-from" title="Nereden"
                    data-live-search="true" data-size="10">
                </select>
            </div>
        </div>
        <div class="form-item">
            <svg class="form-item-icon" width="30" height="30">
                <use xlink:href="/icons/sprite.svg#to" />
            </svg>
            <div class="form-group">
                <label asp-for="DestinationId">Nereden</label>
                <select asp-for="DestinationId" class="selectpicker form-control city-to" title="Nereye"
                    data-live-search="true" data-size="10">
                </select>
            </div>
        </div>
        <button class="btn-switch" type="button">
            <svg width="30" height="30">
                <use xlink:href="/icons/sprite.svg#switch" />
            </svg>
        </button>
    </div>
    <div class="form-item form-item-last">
        <svg class="form-item-icon icon-date" width="30" height="30">
            <use xlink:href="/icons/sprite.svg#date" />
        </svg>
        <div class="form-group">
            <input asp-for="DepartureDate" type="hidden" />
            <label for="date">Tarih</label>
            <input id="date" readonly type="text" class="form-control form-date" placeholder="Tarih">
        </div>
        <div class="form-item-buttons">
            <button class="btn btn-sm btn-today" type="button" data-date="today">Bugün</button>
            <button class="btn btn-sm btn-tomorrow" type="button" data-date="tomorrow">Yarın</button>
        </div>
    </div>
    <button class="btn btn-primary btn-ticket">Bu Bileti Bul</button>
</form>