@{
    ViewData["Title"] = "Gizlilik Politikası";
}

<div class="section">
    <div class="container">
        <h1 class="page-title">@ViewData["Title"]</h1>

        <div class="page-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in massa arcu. Vestibulum porta
                tincidunt
                hendrerit. Sed vel tristique nibh. Quisque non justo est. Nam auctor felis non nisi consectetur, quis
                aliquam ex
                dictum. Aenean tortor eros, rhoncus in ex laoreet, lobortis pellentesque augue. Aenean eu molestie
                purus.
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris ante
                eros,
                venenatis non egestas nec, pellentesque vel augue. Quisque feugiat consequat tincidunt. Pellentesque nec
                lacus
                augue. Proin nibh enim, luctus ac sagittis vitae, scelerisque lobortis eros. Ut mauris justo,
                sollicitudin
                quis
                porttitor tincidunt, sodales et eros. Maecenas in pulvinar nulla. Fusce a cursus quam.</p>
            <p>Quisque accumsan in arcu id tincidunt. Duis feugiat diam ac orci sollicitudin, eu facilisis quam
                pellentesque.
                Vivamus mattis varius ultricies. Curabitur iaculis nec risus non finibus. Vestibulum sollicitudin
                aliquet
                bibendum. Proin non nibh mollis, auctor quam tempor, pulvinar tortor. Curabitur turpis urna, porta et
                ornare
                quis, consectetur in tortor. Morbi non sem sed neque lacinia sagittis. Cras pretium efficitur metus. Sed
                posuere
                placerat nunc, id vulputate tellus tincidunt a. In hac habitasse platea dictumst. Curabitur sed erat
                quam.
                Vestibulum mollis iaculis eros venenatis semper. Proin lorem odio, porttitor non dignissim eget, euismod
                quis
                nisl.</p>
            <p>Donec vel sem in lacus tristique blandit ac in tellus. Pellentesque sed tempor augue. Interdum et
                malesuada
                fames
                ac ante ipsum primis in faucibus. Cras cursus condimentum dolor. Integer porttitor, turpis vel facilisis
                molestie, nisi est pulvinar nisl, id condimentum ex dolor vel urna. Proin malesuada, purus ut sagittis
                mollis,
                massa enim lobortis mauris, quis tempus nibh nulla quis enim. Vivamus varius, nibh eget sodales semper,
                nisl
                orci ornare lorem, a viverra ipsum nibh id felis. Praesent pulvinar fermentum nisi nec euismod. Mauris
                nunc
                nisi, pharetra id sodales a, viverra ultricies nulla. Quisque libero libero, commodo sed blandit ac,
                lacinia
                at
                justo. Suspendisse porttitor sed urna non sagittis. Curabitur posuere ligula tempor turpis tempor
                pellentesque.
            </p>
            <p>Nam molestie velit dignissim magna tincidunt, efficitur dapibus nunc varius. Duis diam felis, commodo et
                vehicula
                vitae, efficitur eget erat. Mauris semper id nisi ac volutpat. Donec vitae massa a metus convallis
                rutrum
                pharetra a urna. Donec sed leo dictum lacus tristique dapibus quis a massa. Pellentesque consectetur
                rutrum
                facilisis. Quisque elit elit, luctus vitae nisi quis, mattis volutpat augue. Vestibulum dolor sem, porta
                vel
                tortor sit amet, vulputate pharetra risus. Suspendisse mattis quam vel erat ultricies, a porttitor
                tellus
                efficitur.</p>
        </div>

        <partial name="_Features" />
    </div>

</div>