<header class="journey-header">
    <div class="container">
        <div class="journey-details">
            <div class="detail-group">
                <div class="detail">
                    <svg width="30" height="30">
                        <use xlink:href="/icons/sprite.svg#from" />
                    </svg>
                    İzmir
                </div>

                <div class="detail">
                    <svg width="30" height="30">
                        <use xlink:href="/icons/sprite.svg#to" />
                    </svg>
                    Aydın
                </div>
            </div>

            <div class="detail">
                <svg width="30" height="30">
                    <use xlink:href="/icons/sprite.svg#date" />
                </svg>
                19 Kasım Cumartesi
            </div>
        </div>
    </div>
</header>