<div class="journey">
    <div class="from">
        <h3 class="journey-title">Kalkış</h3>
        <div class="journey-detail">
            <div>
                <svg class="journey-icon" width="30" height="30">
                    <use xlink:href="/icons/sprite.svg#route" />
                </svg>
                Esenler Otogarı
            </div>
            <div>
                <svg class="journey-icon" width="30" height="30">
                    <use xlink:href="/icons/sprite.svg#time" />
                </svg>
                09:30
            </div>
        </div>
    </div>
    <div class="to">
        <h3 class="journey-title">Varış</h3>
        <div class="journey-detail">
            <div>
                <svg class="journey-icon" width="30" height="30">
                    <use xlink:href="/icons/sprite.svg#route" />
                </svg>
                Ankara Aşti Otogarı
            </div>
            <div>
                <svg class="journey-icon" width="30" height="30">
                    <use xlink:href="/icons/sprite.svg#time" />
                </svg>
                15:30
            </div>
        </div>
    </div>
    <div class="price">
        <h3 class="journey-title">Fiyat</h3>
        <div>75.00 TL</div>
    </div>
</div>