@model IList<Business.Journey.Dto.Result.JourneyForBus>
@using System.Globalization
@{
    var first = Model.First();
    ViewData["Title"] = $"{first.OriginLocation} - {first.DestinationLocation} Otobüs Seferleri";
}

<header class="journey-header">
    <div class="container">
        <div class="journey-details">
            <div class="detail-group">
                <div class="detail from">
                    <svg width="30" height="30">
                        <use xlink:href="/icons/sprite.svg#from" />
                    </svg>
                    @first.Journey.Origin
                </div>

                <div class="detail to">
                    <svg width="30" height="30">
                        <use xlink:href="/icons/sprite.svg#to" />
                    </svg>
                    @first.Journey.Destination
                </div>
            </div>

            <div class="detail departure">
                <svg width="30" height="30">
                    <use xlink:href="/icons/sprite.svg#date" />
                </svg>
                @first.Journey.Departure.ToString("dd MMMM yyyy dddd", CultureInfo.CreateSpecificCulture("tr-TR"))
            </div>
        </div>
    </div>
</header>

<div class="section">
    <div class="container">
        <div class="journeys">
            @foreach (var item in Model)
            {
                <partial name="_Item" model="item" />
            }
        </div>
    </div>
</div>