@{
    ViewData["Title"] = "İzmir - Aydın Otobüs Seferleri";
}

<partial name="_Header" />

<div class="section">
    <div class="container">
        <div class="journeys">
            <partial name="_Item" />
            <partial name="_Item" />
            <partial name="_Item" />
            <partial name="_Item" />
            <partial name="_Item" />
        </div>
    </div>
</div>